h1 {
    width: 300px;
    margin: 50px auto;
    color: #033eff;
    text-align: center;
}

h2 {
    width: 400px;
    margin: 0 auto;
    color: #033eff;
    text-align: center;
    margin-bottom: 100px;
}

button {
    width: 120px;
    height: 60px;
    background: #033eff;
    color: #ffffff;
    font-size: 18px;
    border-radius: 6px;
    border: solid 2px #3ba7ff;
}

.buttons {
    max-width: 1300px;
    margin: 0 auto;
    border: solid 2px  #3ba7ff;
    display: flex;
    justify-content: space-around;
    padding: 50px;
    border-radius: 6px;
    background: #68bbff;
}

button:hover {
    box-shadow: 2px 2px 5px #000;
    font-size: 16px;
    border: none;
}

button:active, 
button:focus {
    outline: none;
}